.side-bar
  .side-bar__user
    .side-bar__user__info
      .side-bar__user__info__name 
        =current_user.name
      .side-bar__user__info__items
        = link_to new_group_path do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog
  .side-bar__group
    - current_user.groups.each do |group|
      .side-bar__group__list
        = link_to group_messages_path(group) do
          .side-bar__group__list__name
            = group.name
          %p.side-bar__group__list__message 
            メッセージはまだありません。