.side-bar
  .side-bar__user
    .side-bar__user__info
      %p.side-bar__user__info__name akan
      .side-bar__user__info__items
        = link_to "#" do
          %i.fa.fa-edit
        = link_to "#" do
          %i.fa.fa-cog
  .side-bar__group__list
    .side-bar__group__list__name moumuri
    %p.side-bar__group__list__message まだ行ける！！！
