.chat-main {
  height: 100%;
  width: calc(100vw - 300px);
  float:right;
  .group__info {
    background-color: #ffffff;
    height:100px;
    width:calc(100vw - 300px);
    display:flex;
    justify-content:space-between;
    border-bottom:solid 1px #eeeeee;
    &__leftcontent {
      padding-left:40px;
      padding-top:35px;
      &__group-name {
        color:#333333;
        font-size:20px;
      }
      &__member {
        padding-top:15px;
        display: flex;
        font-size:12px;
        &__tag {
          color: #999999;
        }
        &__member-name {
          color:#999999
        }
      }
    }
    .edit-btn {
      color: #38aef3;
      margin-top:28px;
      margin-right:40px;
      padding-right:20px;
      padding-left:20px;
      height:40px;
      line-height:40px;
      text-decoration: none;
      border:solid 1px #38aef3;
    }
  }
  .message-list {
    background-color: #fafafa;
    height:calc(100vh - 190px);
    padding-left:40px;
    padding-top:35px;
    &__info {
      display:flex;
      &__name {
        color:#333333;
        font-size:16px;
        padding-right:5px;
      }
      &__date {
        color:#999999;
        font-size:12px;
      }
    }
    &__text {
      padding-top:12px;
      margin-bottom:46px;
      color:#434a54;
      font-size:14px;
    }
  }
  .write-message {
    background-color: #d2d2d2;
    height:90px;
    display:flex;
    &__frame {
      height:50px;
      background-color:#d2d2d2;
      display:flex;
      margin-top:20px;
      margin-left:40px;
      margin-right:40px;
      margin-bottom:20px;
      &__text {
        width:calc(100vw - 487px);
        background-color:white;
        margin-right:15px;
        display:flex;
        justify-content: space-between;
        &--cation {
          color: #434a43;
          padding-left:10px;
          line-height:50px;
          font-size:16px;
        }
        .far.fa-image {
          color:black;
          line-height:50px;
          padding-right:10px;
          font-size: 1.5em;
        }
      }
    }
    .send-btn {
      background-color:#38aef3;
      text-decoration: none;
      color:white;
      height:50px;
      line-height:50px;
      padding-right:30px;
      padding-left:30px;
    }
  }
}

.image {
  display:none;
}






















.send-btn {
  background-color:#38aef3;
  text-decoration: none;
  color:white;
  height:50px;
  line-height:50px;
  padding-right:30px;
  padding-left:30px;
}

