* {
  box-sizing: border-box;
}

.wrapper {
  margin:0;
  padding:0;
}




.message {
  background-color: #fafafa;
  padding-left:10px;
  padding-top:10px;
  .upper-message {
    display:flex;
    &__user-name {
      color:#333333;
      font-size:16px;
      padding-right:5px;
    }
    &__date {
      color:#999999;
      font-size:12px;
    }
  }
  .lower-message {
    padding-top:12px;
    margin-bottom:20px;
    color:#434a54;
    font-size:14px;
  }
}